---
layout: layout.liquid
---

<section>
  <div class="columns">

    <div class="column item">
      <h2><a href="https://www.facebook.com/events/1502811626716931/">SoktoberFest 2021</a></h2>
      <h3>October 22-24, 2021</h3>
      <p>Tulsa, OK</p>
      <p>
        <a class="button" href="https://www.facebook.com/events/1502811626716931/">Facebook Event</a>
        <a class="button" href="{{ '/files/Soktoberfest-2021-flyer.pdf' | bust }}">Flyer</a>
      </p>
    </div>

{% comment %}
    <div class="column item">
      <h2>
        <a href="https://www.facebook.com/events/580514709658575/">Soktoberfest 2021 Fundraiser and Kick-Off Party!</a>
      </h2>
      <h3>October 9, 2021</h3>
      <p>
        Goldeez<br>
        5502 N 103rd St, Omaha, NE 68134
      </p>
      <p>
        <a class="button" href="https://www.facebook.com/events/580514709658575/">Facebook Event</a>
        <a class="button" href="{{ '/files/Soktoberfest-2021-Fundraiser-and-Kick-Off-Party.pdf' | bust }}">Flyer</a>
      </p>
    </div>
 {% endcomment %}

    <div class="column item">
      <h2>Sponsors</h2>
      <p>Thank you to our Tier 1 sponsors!</p>
      <ul class="sponsor-list">
        <li class="sponsor-item">
          <a href="https://www.floriosne.com/">
            <img
              src="{{ '/images/sponsors/florios.png' | bust }}"
              alt="Florio's Italian Restaurant"
              title="Florio's Italian Restaurant"
              class="sponsor-img"
            >
          </a>
        </li>
        <li class="sponsor-item">
          <a href="https://www.ookla.com/">
            <img
              src="{{ '/images/sponsors/ookla.svg' | bust }}"
              alt="Ookla"
              title="Ookla"
              class="sponsor-img"
            >
          </a>
        </li>
      </ul>
      <p>If you'd like more information about becoming a sponsor, please <a href="mailto:contact@linomafc.com">contact us</a>.</p>
    </div>

    <div class="column item">
      {% comment %} <hr> {% endcomment %}
      <h2>Other Information</h2>
      <ul>
        <li>Email: <a href="mailto:contact@linomafc.com">contact@linomafc.com</a></li>
        <li>Venmo: <a href="https://venmo.com/linomafc">@LinomaFC</a></li>
        <li><a href="https://sites.google.com/a/nebraskasoccer.net/nmsl/home/schedule">NMSL Schedule</a></li>
      </ul>
    </div>

  </div>
</section>
